html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#game {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    background-image: url('./images/bg.png');
    background-repeat: repeat-x;
    background-size: 1921px 100%;
    overflow: hidden;
}

.bgMove {
    animation: bgMove 20s infinite linear;
}

@keyframes bgMove {
    0% {
        background-position: 1921px 0;
    }
    100%{
        background-position: 0 0;
    }
}

#house {
    display: none;
    width: 86px;
    height: 58px;
    background-image: url('./images/house.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    position: absolute;
    right: 0;
    bottom: 50px;
}

#character {
    width: 20px;
    height: 44px;
    background-image: url('./images/character.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    position: absolute;
    left: 50px;
    bottom: 50px;
}

.jump {
    animation: jump 1s linear;
}

.goToHouse {
    animation: goToHouse 4s forwards;
}

@keyframes jump {
    0% {
        bottom: 50px;
    }
    30% {
        bottom: 90px;
    }
    50% {
        bottom: 130px;
    }
    80% {
        bottom: 90px;
    }
    100% {
        bottom: 50px
    }
}

@keyframes goToHouse {
    0% {
        left: 50px;
    }
    100% {
        left: 100vw;
    }
}

#box {
    background-color: red;
    width: 30px;
    height: 30px;
    background-image: url('./images/box.png');
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: center;
    position: absolute;
    bottom: 50px; 
    right: -50px;
}

.boxMove {
    animation: boxMove 3s infinite linear;
}

@keyframes boxMove {
    0% {
        right: -50px;
    }
    100% {
        right: 100%
    }
}

#musicToggle {
    position: absolute;
    top: 5px;
    right: 5px;
}

#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

#restartButton {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}